{% extends 'inicio.html' %}
{% block content %}
<div class="page-titlee">
    <h1>Artesanías</h1>
</div>
<section id="blog">
    <div class="blog container">
        <div class="row">
            {% for d in data %}
            {% set urlImagenes = 'static/fotos_turismo/' %}
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="blog-content">
                        <h2><strong>{{d.nombre_artesanias}}</strong></h2>
                        <h3><strong>Descripción: </strong>{{d.descipcion_artesanias}}</h3>
                        <h3><strong>Contacto: </strong>{{d.contacto_artesanias}}</h3>
                        <h3><strong>Direccion: </strong></h3>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1671.0710057556223!2d-74.00645909086757!3d5.022489457323549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e40719b0e0fb849%3A0xa9122789d7e8824e!2sHOGAR%20ARTESANAL%20ZIPAQUIRE%C3%91O!5e0!3m2!1sen!2sco!4v1709159204180!5m2!1sen!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <img class="img-blog" src="{{ url_for('static', filename='fotos_turismo/' ~ d.imagen_artesanias) }}" width="100%" alt="" />
                    </form>
                </div>
    {% endfor %}
</section>
{% endblock %}