<!-- template para visualizar una actividad en especifico -->
{% extends 'inicio.html' %}
{% block content %}
<div class="page-titlee">
    <h1>Actividades Representativas</h1>
</div>
<!-- Contenido del template -->
<section id="blog">
    <div class="blog container">
        <div class="row">
            {% for d in data %}
            {% set urlImagenes = 'static/fotos_turismo/' %}
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="blog-content">
                        <h2><strong>{{d.nombre_Actividad}}</strong></h2>
                        <h3><strong>Descripción: </strong>{{d.descipcion_Actividad}}</h3>
                        <h3><strong>Contacto: </strong>{{d.contacto_Actividad}}</h3>
                        <h3><strong>Direccion: </strong>{{d.lugar_Actividad}}</h3>
                    </div>
                    <div id="map" style="height: 400px;"></div>
                    <!-- Funciones para convertir la direccion en coordenadas y mostrarlas en el mapa.-->
                    <script>
                        function convertirDireccion() {
                            var direccion = "{{ d.lugar_Actividad }}";
                            var geocoder = new google.maps.Geocoder();

                            geocoder.geocode({'address': direccion}, function(results, status) {
                                if (status === 'OK') {
                                    var coordenadas = results[0].geometry.location;
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 15,
                                        center: coordenadas
                                    });
                                    var marcador = new google.maps.Marker({
                                        position: coordenadas,
                                        map: map,
                                        title: '{{d.nombre_Actividad}}'
                                    });
                                } else {
                                    alert('La geocodificación falló debido a: ' + status);
                                }
                            });
                        }
                        convertirDireccion();
                    </script>
                </div>
            </div>
            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <img class="img-blog" src="{{ url_for('static', filename='fotos_turismo/' ~ d.imagen_Actividad) }}" width="100%" alt="" />
                    </form>
                </div>
            </aside>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}