{% extends 'inicio.html' %}
{% block content %}
<div class="page-titlee">
    <h1>Hoteles</h1>
</div>
<section id="blog">
    <div class="blog container">
        <div class="row">
            {% for d in data %}
            {% set urlImagenes = 'static/fotos_turismo/' %}
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="blog-content">
                        <h2><strong>{{d.nombre_hotel}}</strong></h2>
                        <h3><strong>Descripción: </strong>{{d.descipcion_hotel}}</h3>
                        <h3><strong>Contacto: </strong>{{d.contacto_hotel}}</h3>
                        <h3><strong>Direccion: </strong></h3>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2810.3938510091975!2d-74.00676387916623!3d5.022810906385285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e407021d7237865%3A0xe61d74ec5ed9f1ce!2sCacique%20Real%20Hotel!5e0!3m2!1sen!2sco!4v1709158721593!5m2!1sen!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <img class="img-blog" src="{{ url_for('static', filename='fotos_turismo/' ~ d.imagen_hotel) }}" width="100%" alt="" />
                    </form>
                </div>
 {% endfor %}
</section>
{% endblock %}

    