{% extends 'inicio.html' %}
{% block content %}
<div class="page-titlee">
    <h1>Restaurantes</h1>
</div>
<section id="blog">
    <div class="blog container">
        <div class="row">
            {% for d in data %}
            {% set urlImagenes = 'static/fotos_turismo/' %}
            <div class="col-md-8">
                <div class="blog-item">
                    <div class="blog-content">
                        <h2><strong>{{d.nombre_restaurante}}</strong></h2>
                        <h3><strong>Descripción: </strong>{{d.descipcion_restaurante}}</h3>
                        <h3><strong>Contacto: </strong>{{d.contacto_restaurante}}</h3>
                        <h3><strong>Direccion: </strong></h3>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2810.4012018642547!2d-74.0052105149323!3d5.0211054990508215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e406f74ea53c87f%3A0xb07acf2405cfbc6a!2sEl%20Salinero%20restaurante%20en%20Zipaquir%C3%A1!5e0!3m2!1sen!2sco!4v1709158508121!5m2!1sen!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <img class="img-blog" src="{{ url_for('static', filename='fotos_turismo/' ~ d.imagen_restaurante) }}" width="100%" alt="" />
                    </form>
                </div>
 {% endfor %}
</section>
{% endblock %}
